.top{
    display: flex;
    flex-direction: row-reverse;
    height: 8em;
}

a{
    padding: 1em;
    text-decoration: none;
    color: black;
}

input[type="text"]{
    display: flex;
    flex-direction: column;
    margin: 2em;
    padding: 1em;
    width: 65em;
    height: 0.5em;
    display: inline-block;
}
form{
    background-color: #e0e0e0;
}
label{
    display: inline-block;
    width: 20em;
    text-align: center;
}

#submitfor{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 6em;
    height: 3em;
}
#submitforbutton{
    background-color: #4285F4;
    color: white; 
    border: none;
}
#submitforbutton:hover{
    background-color: green;
}
