.top{
    display: flex;
    flex-direction: row-reverse;
    height: 12em;
}
img{
    /*padding: 1em;*/
    margin-top: 0;
}
a{
    padding: 1em;
    text-decoration: none;
    color: #3c4043;
    margin-right: 1em;
    padding: 1em;
}

.mid{
    justify-content: center;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

input[type="submit"]{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa; 
    padding: 0.5em;
    border: 4px;
    font-size: 14px;
    color: #3c4043;
    margin: 1em;
    flex: none;
    border-radius: 4px;
}

input[type="text"] {
    width: 40em;
    border-radius: 2em;
    border: 0.5px solid #3c4043;
    height: 1.2em;
    padding: 10px;
  }

button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa; 
    padding: 0.5em;
    border: 4px;
    font-size: 14px;
    border-radius: 4px;
}
#googleSearch{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa; 
    padding: 0.5em;
    border-radius: 4px;
    color: #3c4043;
    font-size: 14px;
}

button:hover{
    border: 0.5px solid grey;
    box-shadow: grey 1px 1px ;
}
#googleSearch:hover{
    border: 0.5px solid grey;
    box-shadow: grey 1px 1px ;
}
input[type="text"]:hover{
    border: 1px solid grey;
    box-shadow: grey 1px 1px ;
}
input[type="submit"]:hover{
    border: 1px solid grey;
    box-shadow: grey 1px 1px ;
}