.top{
    display: flex;
    flex-direction: row-reverse;
    height: 12em;
    background-color: #4285F4;
}
img{
    background-color: aquamarine;
    /*padding: 1em;*/
    margin-top: 0;
}
a{
    padding: 1em;
    text-decoration: none;
    color: black;
}

.mid{
    justify-content: center;
    text-align: center;
    background-color: pink;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
input{
    background-color: white;
    color: aliceblue;
}
input[type="submit"]{
    flex: none;
    margin: 1em;
}

input[type="text"] {
    width: 40em;
    border-radius: 2em;
    border: 1px solid gray;
    height: 1.2em;
    padding: 10px;
  }

/*.inputs{
    background-color: white;
    color: aliceblue;
}*/

button{
    background-color: #4285F4;
    border: none; 
    padding: 0.5em;
}
